asgiref
certifi
cffi
charset-normalizer
crispy-bootstrap5
cryptography
defusedxml
distlib
dj-database-url
Django
django-crispy-forms
django-environ
django-registration-redux
EasyProcess
entrypoint2
filelock
idna
MarkupSafe
MouseInfo
mss
numpy
oauthlib
opencv-contrib-python
Pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
pycparser
PyGetWindow
PyJWT
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python3-openid
pytweening
requests
requests-oauthlib
social-auth-core
sqlparse
typing_extensions
tzdata
urllib3
virtualenv